<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{322,3},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_bonus_mf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{627,3},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_checkpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,80}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{82,3},{83,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_double_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{61,77}</string>
                <key>textureRect</key>
                <string>{{771,3},{61,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_lucky_point_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{164,3},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_lucky_point_chance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{243,3},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_mystery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,77}</string>
                <key>spriteSourceSize</key>
                <string>{39,77}</string>
                <key>textureRect</key>
                <string>{{164,85},{39,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_neg_points.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,47}</string>
                <key>spriteSourceSize</key>
                <string>{88,47}</string>
                <key>textureRect</key>
                <string>{{627,78},{88,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_neg_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{554,3},{75,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_next_in_seq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,77}</string>
                <key>spriteSourceSize</key>
                <string>{57,77}</string>
                <key>textureRect</key>
                <string>{{834,64},{57,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_next_mf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{699,3},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_pos_points.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{3,3},{88,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus_pos_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{401,3},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_subtraction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,25}</string>
                <key>textureRect</key>
                <string>{{3,93},{77,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_tap_str.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{478,3},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_triple_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{834,3},{59,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{914,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d312becfd9b3ab3f9f9b891cfbd88a0d:2e1c68d13b25f9039aa78079a2a5cf9a:3b08c443b96b58bab97de9c99f8829ea$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
