<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_retrotek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,37}</string>
                <key>spriteSourceSize</key>
                <string>{236,37}</string>
                <key>textureRect</key>
                <string>{{1464,752},{236,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_startgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,219}</string>
                <key>spriteSourceSize</key>
                <string>{275,219}</string>
                <key>textureRect</key>
                <string>{{1643,870},{275,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,351}</string>
                <key>spriteSourceSize</key>
                <string>{603,351}</string>
                <key>textureRect</key>
                <string>{{919,399},{603,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,92}</string>
                <key>spriteSourceSize</key>
                <string>{427,92}</string>
                <key>textureRect</key>
                <string>{{1513,89},{427,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,92}</string>
                <key>spriteSourceSize</key>
                <string>{427,92}</string>
                <key>textureRect</key>
                <string>{{1513,183},{427,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,92}</string>
                <key>spriteSourceSize</key>
                <string>{427,92}</string>
                <key>textureRect</key>
                <string>{{1513,277},{427,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,916}</string>
                <key>spriteSourceSize</key>
                <string>{916,916}</string>
                <key>textureRect</key>
                <string>{{1,1},{916,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,30}</string>
                <key>spriteSourceSize</key>
                <string>{101,30}</string>
                <key>textureRect</key>
                <string>{{730,919},{101,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{684,1099},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,106}</string>
                <key>spriteSourceSize</key>
                <string>{681,106}</string>
                <key>textureRect</key>
                <string>{{1,1027},{681,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_inc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,106}</string>
                <key>spriteSourceSize</key>
                <string>{727,106}</string>
                <key>textureRect</key>
                <string>{{1,919},{727,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,86}</string>
                <key>spriteSourceSize</key>
                <string>{442,86}</string>
                <key>textureRect</key>
                <string>{{1513,1},{442,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,396}</string>
                <key>spriteSourceSize</key>
                <string>{592,396}</string>
                <key>textureRect</key>
                <string>{{919,1},{592,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,97}</string>
                <key>textureRect</key>
                <string>{{1524,916},{188,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,106}</string>
                <key>spriteSourceSize</key>
                <string>{232,106}</string>
                <key>textureRect</key>
                <string>{{1290,1027},{232,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newgame_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,91}</string>
                <key>spriteSourceSize</key>
                <string>{497,91}</string>
                <key>textureRect</key>
                <string>{{1643,371},{497,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,91}</string>
                <key>spriteSourceSize</key>
                <string>{497,91}</string>
                <key>textureRect</key>
                <string>{{1736,371},{497,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,91}</string>
                <key>spriteSourceSize</key>
                <string>{497,91}</string>
                <key>textureRect</key>
                <string>{{1829,371},{497,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,117}</string>
                <key>spriteSourceSize</key>
                <string>{543,117}</string>
                <key>textureRect</key>
                <string>{{919,872},{543,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerstats_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,117}</string>
                <key>spriteSourceSize</key>
                <string>{543,117}</string>
                <key>textureRect</key>
                <string>{{1524,371},{543,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,118}</string>
                <key>spriteSourceSize</key>
                <string>{543,118}</string>
                <key>textureRect</key>
                <string>{{919,752},{543,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_score_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{1922,371},{604,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{730,991},{604,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_time_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{684,1027},{604,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_time_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{684,1063},{604,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s01-linear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{833,919},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{730,951},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{872,919},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1623,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1662,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1701,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{769,951},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1740,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1779,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1818,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11-pi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1857,1091},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{1920,977},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1957,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f87c17bee8bd7643d40cff70bae8d6:6307627365f00b7c33db39b5b911c567:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
