<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_retrotek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,99}</string>
                <key>spriteSourceSize</key>
                <string>{296,99}</string>
                <key>textureRect</key>
                <string>{{727,2347},{296,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,476}</string>
                <key>spriteSourceSize</key>
                <string>{711,476}</string>
                <key>textureRect</key>
                <string>{{1,919},{711,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,94}</string>
                <key>spriteSourceSize</key>
                <string>{307,94}</string>
                <key>textureRect</key>
                <string>{{595,1397},{307,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cancel_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,94}</string>
                <key>spriteSourceSize</key>
                <string>{307,94}</string>
                <key>textureRect</key>
                <string>{{794,1903},{307,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continue_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{279,3045},{490,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{771,919},{490,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continue_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{771,1411},{490,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,916}</string>
                <key>spriteSourceSize</key>
                <string>{916,916}</string>
                <key>textureRect</key>
                <string>{{1,1},{916,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{79,3110},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,3110},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,30}</string>
                <key>spriteSourceSize</key>
                <string>{101,30}</string>
                <key>textureRect</key>
                <string>{{619,3008},{101,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{156,3142},{77,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,106}</string>
                <key>spriteSourceSize</key>
                <string>{681,106}</string>
                <key>textureRect</key>
                <string>{{171,2459},{681,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_inc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,106}</string>
                <key>spriteSourceSize</key>
                <string>{727,106}</string>
                <key>textureRect</key>
                <string>{{1,1795},{727,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,86}</string>
                <key>spriteSourceSize</key>
                <string>{442,86}</string>
                <key>textureRect</key>
                <string>{{706,1903},{442,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,396}</string>
                <key>spriteSourceSize</key>
                <string>{592,396}</string>
                <key>textureRect</key>
                <string>{{1,1397},{592,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,97}</string>
                <key>textureRect</key>
                <string>{{613,1706},{188,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,106}</string>
                <key>spriteSourceSize</key>
                <string>{232,106}</string>
                <key>textureRect</key>
                <string>{{727,2645},{232,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,54}</string>
                <key>spriteSourceSize</key>
                <string>{123,54}</string>
                <key>textureRect</key>
                <string>{{794,2212},{123,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,54}</string>
                <key>spriteSourceSize</key>
                <string>{123,54}</string>
                <key>textureRect</key>
                <string>{{794,2268},{123,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newgame_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{1,2524},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{279,2459},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{449,2459},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,91}</string>
                <key>spriteSourceSize</key>
                <string>{497,91}</string>
                <key>textureRect</key>
                <string>{{613,1903},{497,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ok_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{138,94}</string>
                <key>textureRect</key>
                <string>{{727,2879},{138,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ok_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{138,94}</string>
                <key>textureRect</key>
                <string>{{823,2879},{138,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{109,1795},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{277,1795},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{445,1795},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{714,919},{604,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{619,2402},{604,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{655,2402},{604,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,34}</string>
                <key>spriteSourceSize</key>
                <string>{604,34}</string>
                <key>textureRect</key>
                <string>{{691,2402},{604,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s01-linear-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{109,2459},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s01-linear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{691,1657},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{828,2324},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{691,1577},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{828,2432},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{235,3142},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{828,2485},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{730,1577},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{828,2538},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{730,1616},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{828,2591},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{730,1655},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{828,2378},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{691,1617},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{835,2644},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{771,3019},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{835,2697},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{771,3058},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{835,2750},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{810,3019},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11-pi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{835,2803},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11-pi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{771,3097},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{691,1525},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{881,2324},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{918,3192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be2f3937ea1cd51fab455b5fe9c4e453:5106b9ffeaa76725b3e7197b4c79fbd5:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
