<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_retrotek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,99}</string>
                <key>spriteSourceSize</key>
                <string>{296,99}</string>
                <key>textureRect</key>
                <string>{{718,923},{296,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,476}</string>
                <key>spriteSourceSize</key>
                <string>{711,476}</string>
                <key>textureRect</key>
                <string>{{5,923},{711,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{963,917},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{923,919},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coins_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{819,1029},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coins_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{896,2239},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,916}</string>
                <key>spriteSourceSize</key>
                <string>{916,916}</string>
                <key>textureRect</key>
                <string>{{5,5},{916,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{895,2318},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{739,2276},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{696,1552},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,118}</string>
                <key>spriteSourceSize</key>
                <string>{119,118}</string>
                <key>textureRect</key>
                <string>{{696,1432},{119,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_score_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,38}</string>
                <key>spriteSourceSize</key>
                <string>{302,38}</string>
                <key>textureRect</key>
                <string>{{963,5},{302,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_bonus_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,38}</string>
                <key>spriteSourceSize</key>
                <string>{304,38}</string>
                <key>textureRect</key>
                <string>{{923,5},{304,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,38}</string>
                <key>spriteSourceSize</key>
                <string>{302,38}</string>
                <key>textureRect</key>
                <string>{{963,309},{302,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,38}</string>
                <key>spriteSourceSize</key>
                <string>{302,38}</string>
                <key>textureRect</key>
                <string>{{923,311},{302,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,38}</string>
                <key>spriteSourceSize</key>
                <string>{302,38}</string>
                <key>textureRect</key>
                <string>{{963,613},{302,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,38}</string>
                <key>spriteSourceSize</key>
                <string>{302,38}</string>
                <key>textureRect</key>
                <string>{{923,615},{302,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_x_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,118}</string>
                <key>spriteSourceSize</key>
                <string>{105,118}</string>
                <key>textureRect</key>
                <string>{{696,1672},{105,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_x_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{895,1700},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s01-linear-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{920,1505},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s01-linear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{817,1549},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{816,1627},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{816,1705},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{807,1783},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{807,1861},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{696,1886},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{886,1927},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{775,1939},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{696,1964},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{854,2005},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{775,2017},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{696,2042},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{933,2005},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{854,2083},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{775,2095},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{661,2120},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{933,2083},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{854,2161},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{933,2161},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11-pi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{661,2198},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s11-pi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{739,2198},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{817,2318},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{818,2239},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{924,326}</string>
                <key>spriteSourceSize</key>
                <string>{924,326}</string>
                <key>textureRect</key>
                <string>{{5,1401},{924,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{924,326}</string>
                <key>spriteSourceSize</key>
                <string>{924,326}</string>
                <key>textureRect</key>
                <string>{{333,1401},{924,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_sel_addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{5,2327},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_sel_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,93}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{920,959},{92,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_sel_checkpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{110,2327},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_sel_nextinseq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,98}</string>
                <key>textureRect</key>
                <string>{{718,1326},{104,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_sel_sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,93}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{920,1054},{92,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_sel_subtraction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{215,2327},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_std_addition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{103,99}</string>
                <key>textureRect</key>
                <string>{{819,1134},{103,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{514,2327},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_std_checkpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{103,99}</string>
                <key>textureRect</key>
                <string>{{718,1221},{103,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_lucky_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,105}</string>
                <key>spriteSourceSize</key>
                <string>{108,105}</string>
                <key>textureRect</key>
                <string>{{886,1820},{108,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_std_lucky_chance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{696,1779},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_std_med_kit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{896,1583},{115,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_nextinseq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,99}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{819,923},{104,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_persistent_2x_time_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,95}</string>
                <key>textureRect</key>
                <string>{{320,2327},{98,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_persistent_3x_time_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,95}</string>
                <key>textureRect</key>
                <string>{{417,2327},{98,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_persistent_time_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{696,2354},{71,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{920,1149},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite_std_subtraction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{103,99}</string>
                <key>textureRect</key>
                <string>{{819,1239},{103,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tap_strength_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,101}</string>
                <key>textureRect</key>
                <string>{{817,1448},{99,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tap_strength_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{818,1344},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer-double-brite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{920,1244},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer-double-faded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{920,1331},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer-triple-brite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{920,1418},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer-triple-faded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{609,2327},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1017,2430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42695aa6582786d6fc8c458baf6ea873:6b2a4dbbe722320d7d81e3218000ddb8:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
