<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_retrotek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,99}</string>
                <key>spriteSourceSize</key>
                <string>{296,99}</string>
                <key>textureRect</key>
                <string>{{621,2878},{296,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,476}</string>
                <key>spriteSourceSize</key>
                <string>{711,476}</string>
                <key>textureRect</key>
                <string>{{3,921},{711,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,94}</string>
                <key>spriteSourceSize</key>
                <string>{307,94}</string>
                <key>textureRect</key>
                <string>{{597,1399},{307,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cancel_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,94}</string>
                <key>spriteSourceSize</key>
                <string>{307,94}</string>
                <key>textureRect</key>
                <string>{{722,2842},{307,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continue_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{111,3047},{490,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{716,921},{490,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continue_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,146}</string>
                <key>spriteSourceSize</key>
                <string>{490,146}</string>
                <key>textureRect</key>
                <string>{{615,1708},{490,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,916}</string>
                <key>spriteSourceSize</key>
                <string>{916,916}</string>
                <key>textureRect</key>
                <string>{{3,3},{916,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{818,2976},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{828,2742},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,30}</string>
                <key>spriteSourceSize</key>
                <string>{101,30}</string>
                <key>textureRect</key>
                <string>{{693,1603},{101,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lbl_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{81,3209},{77,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,106}</string>
                <key>spriteSourceSize</key>
                <string>{681,106}</string>
                <key>textureRect</key>
                <string>{{3,2526},{681,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_inc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,106}</string>
                <key>spriteSourceSize</key>
                <string>{727,106}</string>
                <key>textureRect</key>
                <string>{{3,1797},{727,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,86}</string>
                <key>spriteSourceSize</key>
                <string>{442,86}</string>
                <key>textureRect</key>
                <string>{{621,2434},{442,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,396}</string>
                <key>spriteSourceSize</key>
                <string>{592,396}</string>
                <key>textureRect</key>
                <string>{{3,1399},{592,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,97}</string>
                <key>spriteSourceSize</key>
                <string>{188,97}</string>
                <key>textureRect</key>
                <string>{{693,1413},{188,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_retry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,106}</string>
                <key>spriteSourceSize</key>
                <string>{232,106}</string>
                <key>textureRect</key>
                <string>{{615,2200},{232,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{111,2461},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{281,2461},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,168}</string>
                <key>spriteSourceSize</key>
                <string>{584,168}</string>
                <key>textureRect</key>
                <string>{{451,2461},{584,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>newgame_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,91}</string>
                <key>spriteSourceSize</key>
                <string>{497,91}</string>
                <key>textureRect</key>
                <string>{{111,3195},{497,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{138,94}</string>
                <key>textureRect</key>
                <string>{{792,1413},{138,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ok_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{138,94}</string>
                <key>textureRect</key>
                <string>{{723,2200},{138,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{111,1797},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{279,1797},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerstats_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,166}</string>
                <key>spriteSourceSize</key>
                <string>{662,166}</string>
                <key>textureRect</key>
                <string>{{447,1797},{662,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_score_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,38}</string>
                <key>spriteSourceSize</key>
                <string>{406,38}</string>
                <key>textureRect</key>
                <string>{{3,3288},{406,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_score_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,38}</string>
                <key>spriteSourceSize</key>
                <string>{406,38}</string>
                <key>textureRect</key>
                <string>{{411,3288},{406,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prgbar_score_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,38}</string>
                <key>spriteSourceSize</key>
                <string>{406,38}</string>
                <key>textureRect</key>
                <string>{{864,921},{406,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,38}</string>
                <key>spriteSourceSize</key>
                <string>{406,38}</string>
                <key>textureRect</key>
                <string>{{709,2434},{406,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prgbar_time_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,38}</string>
                <key>spriteSourceSize</key>
                <string>{406,38}</string>
                <key>textureRect</key>
                <string>{{763,1603},{406,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s01-linear-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{3,3209},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s01-linear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{723,2340},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{763,2114},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02-even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{842,2114},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{819,2192},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03-odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{819,2270},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{802,2348},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04-triangular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{803,1553},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{803,1631},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05-square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{803,1709},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{803,1787},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06-lazy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{803,1865},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{722,3151},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07-fibonacci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{749,2426},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{749,2504},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08-prime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{749,2582},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{749,2660},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09-double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{749,2738},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10-triple-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{828,2426},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s10-triple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{828,2505},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s11-pi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{828,2584},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s11-pi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{828,2663},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s12-recaman-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{818,2898},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12-recaman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{818,2820},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tap_strength_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,101}</string>
                <key>textureRect</key>
                <string>{{763,2011},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tap_strength_std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{610,3176},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{922,3329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89643949a9395c7af67a4498e75a890c:9de9083dedbb6b796f170936bcdbdacb:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
